@charset "UTF-8";

/*
Title: Twick
Author: 2ca3
*/

table.tbl {
  margin-left:auto;margin-right:auto;
  width: 600px;
  height: 250px;
  margin: -150px 0px 0px -300px;
  left: 50%;
  top: 50%;
  position: absolute;  
}

td.body {
  background-color: #ffffff;
  color: #3366ff;
  border: 2px #3399ff solid;
  text-align: left;
}

td.image {
    text-align: left;
}


div.timeline_tbl {
width: auto;
height: 200px;
overflow: auto;
}

table {
    border: 1px #E3E3E3 solid;
    border-collapse: collapse;
    border-spacing: 0;
}

table th {
    padding: 5px;
    border: #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    background: #F5F5F5;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
}
table td {
    padding: 5px;
    border: 1px #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    text-align: center;
    background: #ffffff;
}

table td.text {
    padding: 5px;
    border: 1px #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    text-align: left;
    background: #ffffff;
}

div.paging{
    background-color: #ffcccc;
    text-align: center;
    font-weight: bold;
}